.hero{
    min-height:70vh;
    display:flex;

    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px;
    background:#E8F5E9;
}

.hero h1{
    font-size:52px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    font-size:20px;
    margin-bottom:40px;
}

.buttons{
    display:flex;
    gap:20px;
}

button{
    padding:16px 30px;
    border:2px solid #2E7D32;
    border-radius:8px;
    cursor:pointer;
    background:#2E7D32;
    color:white;
    font-size:18px;

    transition:.3s;
}

button:hover{
    color: white;
    background: #74C365;
}

.secondary{
    background:white;
    color:#2E7D32;
    border:2px solid #2E7D32;
}

.secondary:hover{
    color: white;
    background: #45713c;
}