.toast {
  position: fixed;
  z-index: 20;
  right: 25px;
  bottom: 25px;
  padding: 15px 18px;
  background: var(--ink);
  color: white;
  box-shadow: 5px 5px 0 var(--lime);
  font-size: 13px;
}

.toast button {
  margin-left: 20px;
  color: var(--lime);
  background: transparent;
  font-size: 18px;
}
